pybind11

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.2+cu121
torchvision==0.16.2+cu121

six
regex
numpy

deepspeed
wandb
tensorboard

# mpirun
mpi4py

# tokenizer v2
sentencepiece

# tokenize
nltk

# flash-attn
ninja
packaging
wheel

# checkpoint convert
transformers
accelerate
